{% extends '::base.html.twig' %}

{% block login_logout_panel %}
{% endblock login_logout_panel %}

{% block title %}
    There was an exception!
{% endblock title %}

{% block body %}
    <h2>There was an exception!</h2>
    <p>
        The application caused serious problems!
    </p>
{% endblock body %}

