{% extends '::base.html.twig' %}

{% block login_logout_panel %}
{% endblock login_logout_panel %}

{% block title %}
    The page does not exists!
{% endblock title %}

{% block body %}
    <h2>The page does not exists!</h2>
{% endblock body %}

